<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Admin Event Table -->
    <th:block th:fragment="AdminEventTableFragment">
        <tbody>
        <th:block th:if="${event eq 'add'}">
            <th:block th:each="field, i : ${fields.entrySet()}">
                <tr class="dataTrForm">
                    <td class="mainColorBg dataTdBorder white dataTdTextForm"
                        th:classappend="${i.count eq 1 ? 'dataThFirst' :(i.count eq i.size ? 'dataTdFirst' : '')}">
                        <div th:text="${field.key}"></div>
                    </td>
                    <td class="dataTd whiteBg dataTdBorder dataTdInputForm"
                        th:classappend="${i.count eq 1 ? 'dataThLast' :(i.count eq i.size ? 'dataTdLast' : '')}">
                        <!--
                        <div th:text="${field.value.databaseRelationType}" th:style="${'font-size: 8px'}"></div>
                        <div th:text="${field.value.hasIdAnnotation}" th:style="${'font-size: 8px'}"></div>
                        <div th:text="${field.value.type.name}" th:style="${'font-size: 8px'}"></div> -->
                        <input class="dataInput" th:name="${field.key}" th:id = "input + ${i.count}" type="text" placeholder="">
                        <span class="descriptionSpan innerText" th:if="${field.value.description != ''}" th:text="'* ' + ${field.value.description}"/>
                    </td>
                </tr>
            </th:block>
        </th:block>

        <th:block th:if="${event != 'add'}">
            <th:block th:each="field, i : ${fields.entrySet()}">
                <tr class="dataTrForm">
                    <td class="mainColorBg dataTdBorder white dataTdTextForm"
                        th:classappend="${i.count eq 1 ? 'dataThFirst' :(i.count eq i.size ? 'dataTdFirst' : '')}">
                        <div th:text="${field.key}"></div>
                    </td>
                    <td class="dataTd whiteBg dataTdBorder dataTdInputForm"
                        th:classappend="${i.count eq 1 ? 'dataThLast' :(i.count eq i.size ? 'dataTdLast' : '')}">
                        <!--
                        <div th:text="${field.value.databaseRelationType}" th:style="${'font-size: 8px'}"></div>
                        <div th:text="${field.value.hasIdAnnotation}" th:style="${'font-size: 8px'}"></div>
                        <div th:text="${field.value.type.name}" th:style="${'font-size: 8px'}"></div> -->

                        <th:block th:if="${data.isPresent()}" th:with="object = ${@tableService.getFieldValue(data.get(), field.value.entityFieldName)}">
                            <th:block th:if="${field.value.databaseRelationType.name() == 'NON_RELATIONSHIP'}">
                                <input class="dataInput notInput notAllowed" th:classappend="${field.value.hasIdAnnotation ? 'idClass' : ''}" th:name="${field.value.entityFieldName}" th:id = "input + ${i.count}" type="text" th:value="${object}" readonly>
                            </th:block>

                            <th:block th:if="${field.value.databaseRelationType.name() != 'NON_RELATIONSHIP'}">
                                <input class="dataInput notInput notAllowed" th:name="${field.value.entityFieldName}" th:id = "input + ${i.count}" type="text" th:value="${object}" readonly>
                                <!--<div th:text="${@tableService.getField(object)} + '  $%$%'"></div>-->
                            </th:block>

                            <span class="descriptionSpan innerText" th:if="${field.value.description != ''}" th:text="'* ' + ${field.value.description}"/>
                        </th:block>
                    </td>
                </tr>
            </th:block>
        </th:block>
        </tbody>
    </th:block>
</html>