<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Admin Not Group -->
    <th:block th:fragment="AdminNotGroupFragment">
        <th:block th:each="groupName : ${data.keySet()}">
            <div class="tableHeadDiv mainColorBg">
                <span class="tableSpan white" th:text="${groupName}"/>
            </div>
            <th:block th:each="table : ${data.get(groupName)}">
                <div class="whiteBg" th:classappend="${tableStat.last ? 'tableBodyLast' : 'tableBodyBorder'}">
                    <a th:href="@{/our-board/admin/{groupName}/{tableName}/search(groupName=${groupName}, tableName=${table.getTableName()}, keyword='ALL', type='ALL')}">
                        <span class="tableSpan tableName pointer" th:text="${table.getTableName()}"/>
                    </a>
                    <span class="tableSpan innerText" th:text="${table.getDescription()}"/>
                    <a th:href="@{/our-board/admin/{groupName}/{tableName}/add(groupName=${groupName}, tableName=${table.getTableName()})}">
                        <span class="tableSpan tableAdd add pointer">+ ADD</span>
                    </a>
                </div>
            </th:block>
        </th:block>
    </th:block>

    <!-- Admin Group -->
    <th:block th:fragment="AdminGroupFragment">
        <div class="tableHeadDiv mainColorBg">
            <span class="tableSpan white" th:text="${groupName}"/>
        </div>
        <th:block th:each="table : ${data.get(groupName)}">
            <div class="whiteBg" th:classappend="${tableStat.last ? 'tableBodyLast' : 'tableBodyBorder'}">
                <a th:href="@{/our-board/admin/{groupName}/{tableName}/search(groupName=${groupName}, tableName=${table.getTableName()}, keyword='ALL', type='ALL')}">
                    <span class="tableSpan tableName pointer" th:text="${table.getTableName()}"/>
                </a>
                <span class="tableSpan innerText" th:text="${table.getDescription()}"/>
                <a th:href="@{/our-board/admin/{groupName}/{tableName}/add(groupName=${groupName}, tableName=${table.getTableName()})}">
                    <span class="tableSpan tableAdd add pointer">+ ADD</span>
                </a>
            </div>
        </th:block>
    </th:block>
</html>