<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Admin Header -->
  <th:block th:fragment="AdminHeadFragment">
    <meta charset="UTF-8">

    <title>OUR BOARD</title>

    <!-- Custom CSS -->
    <link th:href="@{/ourboard-resources/css/default.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/ourboard-resources/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/ourboard-resources/css/error.css}" rel="stylesheet" type="text/css">

    <!-- Font CSS -->
    <link th:href="@{/ourboard-resources/css/pretendard.css}" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/ourboard-resources/js/api.js"></script>
  </th:block>
</head>
</html>