<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Admin Welcome -->
    <th:block th:fragment="AdminWelcomeFragment">
        <div class="welcomeDiv">
            <span class="welcomeSpan" th:text="'WELCOME, ' + ${userName}"/><br>
            <span class="welcomeSpan">YOUR TABLES</span>
        </div>
    </th:block>

    <!-- Admin Group Route -->
    <th:block th:fragment="AdminGroupRouteFragment">
        <div class="welcomeDiv">
            <a class="pointer" th:href="@{/admin}">
                <span class="routeSpan innerText pointer" th:text="'HOME > '"/>
            </a>
            <span class="routeSpan navActive" th:text="${groupName}"/>
        </div>
    </th:block>

    <!-- Admin Route -->
    <th:block th:fragment="AdminRouteFragment">
        <div class="welcomeDiv">
            <a class="pointer" th:href="@{/admin}">
                <span class="routeSpan innerText pointer" th:text="'HOME > '"/>
            </a>
            <a class="pointer" th:href="@{/admin/{groupName}(groupName=${groupName})}">
                <span class="routeSpan innerText pointer" th:text="${groupName} + ' > '"/>
            </a>
            <span class="routeSpan navActive" th:text="${tableName}"/>
        </div>
    </th:block>
</html>