<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Admin Welcome -->
    <th:block th:fragment="AdminWelcomeFragment">
        <div class="welcomeDiv">
            <span class="welcomeSpan" th:text="'WELCOME, ' + ${userName}"/><br>
            <span class="welcomeSpan">YOUR TABLES</span>
        </div>
    </th:block>

    <!-- Admin Group Route -->
    <th:block th:fragment="AdminGroupRouteFragment">
        <div class="welcomeDiv">
            <a class="pointer" th:href="@{/our-board/admin}">
                <span class="routeSpan innerText pointer" th:text="'HOME > '"/>
            </a>
            <span class="routeSpan navActive" th:text="${groupName}"/>
        </div>
    </th:block>

    <!-- Admin Route -->
    <th:block th:fragment="AdminRouteFragment">
        <div class="welcomeDiv">
            <a class="pointer" th:href="@{/our-board/admin}">
                <span class="routeSpan innerText pointer" th:text="'HOME > '"/>
            </a>
            <a class="pointer" th:href="@{/our-board/admin/{groupName}(groupName=${groupName})}">
                <span class="routeSpan innerText pointer" th:text="${groupName} + ' > '"/>
            </a>
            <span class="routeSpan navActive" th:text="${tableName}"/>
        </div>
    </th:block>

    <!-- Admin Event Route -->
    <th:block th:fragment="AdminEventRouteFragment">
        <div class="welcomeDiv">
            <a class="pointer" th:href="@{/our-board/admin}">
                <span class="routeSpan innerText pointer" th:text="'HOME > '"/>
            </a>
            <a class="pointer" th:href="@{/our-board/admin/{groupName}(groupName=${groupName})}">
                <span class="routeSpan innerText pointer" th:text="${groupName} + ' > '"/>
            </a>
            <a class="pointer" th:href="@{/our-board/admin/{groupName}/{tableName}(groupName=${groupName}, tableName=${tableName})}">
                <span class="routeSpan innerText pointer" th:text="${tableName} + ' > '"/>
            </a>
            <span class="routeSpan navActive" th:if="${event eq 'add'}" th:text="'ADD'"/>
            <span class="routeSpan navActive" id="route-span" th:if="${event != 'add'}" th:text="'SELECT'"/>
        </div>
    </th:block>
</html>