<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{fragments/header :: AdminHeadFragment}"/>
<body>
<th:block th:replace="~{fragments/navbar :: AdminNavbarFragment}"/>
<div class="mainDiv">
    <div class = "contents">
        <th:block th:replace="~{fragments/welcome :: AdminCreateRouteFragment}"/>

        <table class="dataTable">
            <tbody>
            <th:block th:each="field, i : ${fields.entrySet()}">
                <tr class="dataTrForm">
                    <td class="mainColorBg dataTdBorder white dataTdTextForm"
                       th:classappend="${i.count eq 1 ? 'dataThFirst' :(i.count eq i.size ? 'dataTdFirst' : '')}">
                        <div th:text="${field.key}"></div>
                        <div th:text="${field.value.description}" th:style="${'font-size: 8px'}"></div>
                    </td>
                    <td class="dataTd whiteBg dataTdBorder dataTdInputForm"
                        th:classappend="${i.count eq 1 ? 'dataThLast' :(i.count eq i.size ? 'dataTdLast' : '')}">
                        <div th:text="${field.value.databaseRelationType}" th:style="${'font-size: 8px'}"></div>
                        <div th:text="${field.value.hasIdAnnotation}" th:style="${'font-size: 8px'}"></div>
                        <div th:text="${field.value.type.name}" th:style="${'font-size: 8px'}"></div>
                        <input class="dataInput" type="text" placeholder="">
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="eventDiv">
            <button class="actionButton backButton whiteBg" type="button">BACK</button>
            <button class="actionButton addButton whiteBg" type="button">ADD</button>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: AdminFooterFragment}"/>
</body>
</html>