<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{fragments/header :: AdminHeadFragment}"/>
<body>
    <div class="mainDiv">
        <th:block th:replace="~{fragments/navbar :: AdminNavbarFragment}"/>
        <div class = "contents">
            <th:block th:replace="~{fragments/welcome :: AdminRouteFragment}"/>

            <table class="dataTable">
                <th:block th:replace="~{fragments/eventTable :: AdminEventTableFragment}"/>
            </table>

            <th:block th:replace="~{fragments/eventButton :: AdminEventButtonFragment}"/>
        </div>
    </div>

    <th:block th:replace="~{fragments/footer :: AdminFooterFragment}"/>

<script th:inline="javascript">
    let fields = [[${fields}]]
    let fieldSize = [[${fields.size()}]];

    $('#add-button').on("click", () => {
        let dto = {};
        for (let i = 1; i<=fieldSize; i++) {
            let idName = "#input" + i;
            let inputClass = $(idName);

            if(!fields[inputClass.attr("name")].hasIdAnnotation) {
                    dto[snakeToCamel(inputClass.attr("name"))] = inputClass.val();
                }
        }
        const data = JSON.stringify(dto);
        APICall.post("/our-board/api/" + [[${tableName}]], data).then(() => {
            location.href="/our-board/admin/" + [[${groupName}]] + "/" + [[${tableName}]];
        }).catch((error) => {
            // error raise
        })
    });

</script>
</body>
</html>