<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="~{fragments/header :: AdminHeadFragment}"/>
<body>
    <div class="loginDiv">
        <span class="loginLogo">OUR BOARD</span>
        <div class="loginInputDiv whiteBg">
            <form class="loginAlignDiv" method="POST" th:object="${loginForm}">
                <input class="loginInput" type="text" placeholder="ID" name="memberId" id="memberId" th:field="*{memberId}">
                <input class="loginInput" type="password" placeholder="PW" name="password" id="password" th:field="*{password}"><br>
                <span class="loginGuide">Write down your properties file OUR BOARD ID, PW</span>
            </form>
            <button id="submit-button" class="loginButton mainColorBg white" type="button">LOGIN</button>
        </div>
    </div>
    <th:block th:replace="~{fragments/footer :: AdminFooterFragment}"/>
    <script th:inline="javascript">
        $('#submit-button').on("click", () => {
            const id = $('#memberId').val();
            const password = $('#password').val();

            // Check input data
            checkInputForm([$('#memberId'), $('#password')])

            const data = JSON.stringify({
                "memberId": id,
                "password": password
            })

            APICall.post("/our-board/api/login", data).then(() => {
                location.href="/our-board/admin"
            }).catch((error) => {
                let errorMessage =  "<span class='errorMessage'>"+ error.response.data.message + "</span>"
                $(".loginGuide").replaceWith(
                    errorMessage
                )
            })
        })
    </script>
</body>
</html>