<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{fragments/header :: AdminHeadFragment}"></th:block>
<body>
    <th:block th:replace="~{fragments/navbar :: AdminNavbarFragment}"></th:block>
    <div class="mainDiv">
        <th:block th:if="${#strings.isEmpty(groupName)}">
            <th:block th:replace="~{fragments/welcome :: AdminWelcomeFragment}"/>
            <th:block th:replace="~{fragments/group :: AdminNotGroupFragment}"/>
        </th:block>
        <th:block th:if="${not #strings.isEmpty(groupName)}">
            <th:block th:replace="~{fragments/welcome :: AdminRouteFragment}"/>
            <th:block th:replace="~{fragments/group :: AdminGroupFragment}"/>
        </th:block>
    </div>

    <th:block th:replace="~{fragments/footer :: AdminFooterFragment}"></th:block>
</body>
</html>