<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{fragments/header :: AdminHeadFragment}"/>
<body>
    <div class="mainDiv">
        <th:block th:replace="~{fragments/navbar :: AdminNavbarFragment}"/>
        <div class = "contents">
            <th:block th:replace="~{fragments/welcome :: AdminRouteFragment}"/>
            <th:block th:replace="~{fragments/tableMenu :: AdminTableMenuFragment}"/>
            <th:block th:replace="~{fragments/tableInfo :: AdminTableInfoFragment}"/>
        </div>

        <th:block th:replace="~{fragments/paging :: AdminPagingFragment}"/>
    </div>

    <th:block th:replace="~{fragments/footer :: AdminFooterFragment}"/>
<script th:inline="javascript">
    $('.searchButton').on("click", () => {
        let idName = ".searchInput";
        let inputValue = $(idName).val();
        let searchType = $(".columnSelect option:selected").val();

        if(inputValue.length > 0) {
            location.href="/our-board/admin/" + [[${groupName}]] + "/" + [[${tableName}]] + "/search?keyword="+inputValue + "&type=" + searchType;
        } else {
            alert("Please enter a search term.");
            return;
        }
    });
</script>
</body>
</html>