<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{fragments/header :: AdminHeadFragment}"/>
<body>
    <th:block th:replace="~{fragments/navbar :: AdminNavbarFragment}"/>
    <div class="mainDiv">
        <div class = "contents">
            <th:block th:replace="~{fragments/welcome :: AdminRouteFragment}"/>
            <div class="menuDiv">
                <select class="columnSelect">
                    <option>asdasd</option>
                </select>
                <input class="searchInput" type="text"><button class="searchButton whiteBg" type="button">
                    <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9.5" cy="9.5" r="8" stroke="#E5E8EB" stroke-width="3"/>
                        <line x1="14.1289" y1="16.0122" x2="21.1289" y2="24.0122" stroke="#E5E8EB" stroke-width="3"/>
                    </svg>
                </button>

                <button class="actionButton addButton whiteBg" type="button">ADD</button>
                <button class="actionButton deleteButton whiteBg" type="button">DELETE</button>
            </div>

            <div class="countDiv innerText">
                <span th:text="${data.size}"></span> Tape
            </div>
            <th:block th:replace="~{fragments/tableInfo :: TableFragment}"/>
        </div>

        <div class="pagingDiv">
            <div class="pagingArrow whiteBg pointer">&lt;</div>
            <ul class="pagingUl whiteBg">
                <li class="pagingLi">
                    <a class="pagingA pointer pagingActive">1</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">2</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">3</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">4</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">5</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">6</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">7</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">8</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">9</a>
                </li>
                <li class="pagingLi">
                    <a class="pagingA pointer">10</a>
                </li>
            </ul>
            <div class="pagingArrow whiteBg pointer">&gt;</div>
        </div>
    </div>
    <th:block th:replace="~{fragments/footer :: AdminFooterFragment}"/>
</body>
</html>