<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{fragments/header :: AdminHeadFragment}"/>
<body>
    <th:block th:replace="~{fragments/navbar :: AdminNavbarFragment}"/>
    <div class="mainDiv">
        <div class = "contents">
            <th:block th:replace="~{fragments/welcome :: AdminRouteFragment}"/>
            <div class="menuDiv">
                <select class="columnSelect">
                    <option>asdasd</option>
                </select>
                <input class="searchInput" type="text"><button class="searchButton whiteBg" type="button">
                    <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9.5" cy="9.5" r="8" stroke="#E5E8EB" stroke-width="3"/>
                        <line x1="14.1289" y1="16.0122" x2="21.1289" y2="24.0122" stroke="#E5E8EB" stroke-width="3"/>
                    </svg>
                </button>

                <button class="actionButton addButton whiteBg" type="button">ADD</button>
                <button class="actionButton deleteButton whiteBg" type="button">DELETE</button>
            </div>

            <div class="countDiv innerText">
                <span th:text="|${data.getTotalElements()} ${tableName}|"></span>
            </div>
            <th:block th:replace="~{fragments/tableInfo :: AdminTableFragment}"/>
        </div>

        <div class="pagingDiv">
            <th:block th:with="
                firstAddr=@{/our-board/admin/{groupName}/{tableName}(page=1, groupName=${groupName}, tableName=${tableName})},
                prevAddr=@{/our-board/admin/{groupName}/{tableName}(page=${data.number}, groupName=${groupName}, tableName=${tableName})},
                nextAddr=@{/our-board/admin/{groupName}/{tableName}(page=${data.number + 2}, groupName=${groupName}, tableName=${tableName})},
                lastAddr=@{/our-board/admin/{groupName}/{tableName}(page=${data.totalPages}, groupName=${groupName}, tableName=${tableName})}">
                <div class="pagingArrow whiteBg pointer">
                    <a th:href="${firstAddr}" aria-label="First" class="link">
                        <span aria-hidden="true">&lt;&lt;</span>
                    </a>
                </div>
                <div class="pagingArrow whiteBg pointer" th:classappend="${data.first} ? 'disabled'">
                    <a th:href="${data.first} ? '#' :${prevAddr}" class="link"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </div>
            <ul class="pagingUl whiteBg"
                th:with="start=${T(java.lang.Math).floor(data.number/10)*10 + 1},
                    last=(${start + 9 < data.totalPages ? start + 9 : data.totalPages})">

                    <li class="pagingLi" th:each="page: ${#numbers.sequence(start, last)}"
                        th:classappend="${page == data.number + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{/our-board/admin/{groupName}/{tableName}(page=${page}, groupName=${groupName}, tableName=${tableName})}"></a>
                    </li>

            </ul>
                <div class="pagingArrow whiteBg pointer" th:classappend="${data.last} ? 'disabled'">
                    <a th:href="${data.last} ? '#' :${nextAddr}" class="link"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </div>
                <div class="pagingArrow whiteBg pointer">
                    <a th:href="${lastAddr}" aria-label="Last" class="link">
                        <span aria-hidden="true">&gt;&gt;</span>
                    </a>
                </div>
            </th:block>
        </div>
    </div>
    <th:block th:replace="~{fragments/footer :: AdminFooterFragment}"/>
</body>
</html>